*{
	padding:0px;
	margin:0px;
}

.centeralised{
	margin:10px auto;
	width:30%;
	height: 500px;
	text-align:center;
}

.chathistory{
	height: 100%;
	width:100%;
	margin:10px auto;
	padding:10px;
	background:#fff;
	text-align:left;
	overflow: auto;
	display: flex;
	flex-direction: column-reverse;
	word-wrap: break-word;
	border: none; 
	border-bottom: 1px solid gray;
}

.textareaMes {
    resize: none;
	overflow: visible;
	height: 44px;
    min-height: 44px;
	max-height: 100px;
	padding:10px;
	width:80%;
	background-color: #fff;
	border: none;
}

.siglemessage{
	width: 80%;
	margin-top: 20px;
	text-align: left;
	font-size:14px;
	padding:15px;
	background-color: rgb(236, 236, 236);
	color: #000;
	border-radius: 20px;
}

.siglemessageMe{
	margin-left: 20%;
	width: 80%;
	margin-top: 20px;
	text-align: right;
	font-size:14px;
	padding:15px;
	background-color: rgb(11, 113, 247);
	color: #fff;
	border-radius: 20px;
}

.loginContainer{
	background-color: red;
}

.send-btn {
	vertical-align: top;
}



@media only screen and (max-width: 600px) {
	.centeralised{
		margin:10px auto;
		width:100%;
		height: 1000px;
		text-align:center;
		padding-bottom: 50px;
	}

	.chathistory{
		height: 100%;
		width:80%;
		margin:10px auto;
		padding:10px;
		background:#fff;
		text-align:left;
		overflow: auto;
		display: flex;
		flex-direction: column-reverse;
		word-wrap: break-word;
	}

	.textareaMes {
		resize: none;
		overflow: visible;
		height: 44px;
		min-height: 44px;
		max-height: 100px;
		padding:10px;
		width:80%;
		border-radius: 20px;
		background-color: rgb(243, 243, 243);
	}

	.siglemessage{
		width: 80%;
		margin-top: 20px;
		text-align: left;
		font-size:14px;
		padding:15px;
		background-color: rgb(236, 236, 236);
		color: #000;
		border-radius: 20px;
	}
	
	.siglemessageMe{
		margin-left: 20%;
		width: 80%;
		margin-top: 20px;
		text-align: right;
		font-size:14px;
		padding:15px;
		background-color: rgb(11, 113, 247);
		color: #fff;
		border-radius: 20px;
	}

	.send-btn {
		vertical-align: top;
		padding: 9px;
		margin-left: 5px;
	}

	.messagesform {
		background-color: #fff;
		position: fixed;
		width: 100%;
		bottom: 0;
		padding-top: 10px;
	}
	
	.navbar {
		position: fixed;
		width: 100%;
		top: 0;
	}
}